@model OgrenciYonetimSistemi.Models.Helper.ChatDetayGetir
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/BootstrapChat.css" rel="stylesheet" />

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Mesajlar</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <section class="col-lg-12 connectedSortable">

                    <!-- DIRECT CHAT -->
                    <div class="card direct-chat direct-chat-primary">
                        <div class="card-header">
                            <h3 class="card-title">Yazışmalarım</h3>
                            <div class="card-tools">
                                <span title="3 New Messages" class="badge badge-primary">3</span>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>

                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>


                            </div>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <div class="container">
                                <div class="row clearfix">
                                    <div class="col-lg-12">
                                        <a class="btn btn btn-success" style="margin-top:5px; width:280px;"> <i class="fa fa-envelope" style="text-align:center;"></i> Yeni Mesaj </a>
                                        <div class="card chat-app" style="margin-top:15px;">

                                            <div id="plist" class="people-list">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Search..." id="searchPeople">
                                                </div>
                                                <ul class="list-unstyled chat-list mt-2 mb-0">

                                                    @foreach (var chatListesi in Model.YazismaListesi)
                                                    {
                                                        <li class="clearfix">
                                                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar">
                                                            <div class="about">
                                                                <div class="name">@chatListesi.GonderenAdiSoyadi</div>
                                                                <div class="status"> <i class="fa fa-circle offline"></i> left 7 mins ago </div>
                                                            </div>
                                                        </li>

                                                    }

                                                </ul>
                                            </div>
                                            <div class="chat">
                                                <div class="chat-header clearfix">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                                                            </a>
                                                            <div class="chat-about">
                                                                <h6 class="m-b-0"> @ViewData["mesajlasilanKisi"]</h6>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="chat-history">
                                                    <ul class="m-b-0">

                                                        @foreach (var yazismaDetay in Model.YazismaDetayListesi)
                                                        {
                                                            string classProfile = yazismaDetay.MesajKonum == "R" ? "message-data text-right" : "message-data";
                                                            string classMessage = yazismaDetay.MesajKonum == "R" ? "message other - message float-right" : "message my-message";

                                                            <li class="clearfix">
                                                                <div class="@classProfile">
                                                                    <span class="message-data-time">@yazismaDetay.KayitTarihi</span>
                                                          
                                                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">
                                                                </div>
                                                                <div class="@classMessage"> @yazismaDetay.Icerik </div>
                                                            </li>
                                                        }

                                                        @*<li class="clearfix">
                                                            <div class="message-data">
                                                                <span class="message-data-time">10:12 AM, Today</span>
                                                            </div>
                                                            <div class="message my-message">Are we meeting today?</div>
                                                        </li>
                                                        <li class="clearfix">
                                                            <div class="message-data">
                                                                <span class="message-data-time">10:15 AM, Today</span>
                                                            </div>
                                                            <div class="message my-message">Project has been already finished and I have results to show you.</div>
                                                        </li>*@
                                                    </ul>
                                                </div>
                                                <div class="chat-message clearfix">
                                                    <div class="input-group mb-0">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-paper-plane"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Enter text here...">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>

                </section>

            </div>

        </div>
    </section>

</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#searchPeople").keyup(function () {
                myFunction();
            })
        });

        function myFunction() {
            var input, filter, mylist, txtValue;

            input = $("#searchPeople");
            filter = input.val().toUpperCase();
            mylist = $("#plist ul")[0];

            $("li .name", mylist).each(function (i, e) {
                if ($(this)) {
                    txtValue = $(this).text().toUpperCase();
                    if (txtValue.indexOf(filter) > -1) {
                        $("li", mylist)[i].style.display = "";
                    } else {
                        $("li", mylist)[i].style.display = "none";
                    }
                }
            })
        }
    </script>
}
