@model OgrenciYonetimSistemi.Models.Helper.Ogrenci.OgrenciBilgileriListeModel
@{
    ViewBag.Title = "Index";
    Layout = null;
}


@foreach (var item in Model.OgrenciListesi)
{
    <tr>
        <td id="Ogrenci_Id">@item.Ogrenci_Id</td>
        <td>@item.AdiSoyadi</td>
        <td>@item.OgrenciNumarasi</td>
        <td>@item.BolumAdi</td>
        <td>@item.TcNo</td>
        <td>@item.CepTel</td>
        <td>@item.DogumTarihi</td>
        <td>@item.Sinif</td>
        <td>@item.Donem</td>
    </tr>
}