@model OgrenciYonetimSistemi.Models.Helper.Ogrenci.OgrenciBilgileriListeModel

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }



    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">

                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Öğrenci Tanımlama</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">

                    <div id="ogrenciEkleModal" aria-hidden="true"></div>
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Ogrenci_Id</th>
                                <th>Adı Soyadı</th>
                                <th>Öğrenci No</th>
                                <th>Bölüm Adı</th>
                                <th>Tc Kimlik No</th>
                                <th>Cep Tel</th>
                                <th>Doğum Tarihi</th>
                                <th>Sınıf</th>
                                <th>Dönem</th>
                            </tr>
                        </thead>
                        <tbody id="OgrenciTable">

                            @foreach (var item in Model.OgrenciListesi)
                            {
                                <tr>
                                    <td id="Ogrenci_Id">@item.Ogrenci_Id</td>
                                    <td>@item.AdiSoyadi</td>
                                    <td>@item.OgrenciNumarasi</td>
                                    <td>@item.BolumAdi</td>
                                    <td>@item.TcNo</td>
                                    <td>@item.CepTel</td>
                                    <td style="text-align:center;">@item.DogumTarihi</td>
                                    <td>@item.Sinif</td>
                                    <td>@item.Donem</td>
                                </tr>
                            }

                        </tbody>

                    </table>

                </div>
                <!-- /.card-body -->

            </div>

            <!-- /.card -->
        </section>
        <!-- /.content -->
    </div>

    @section scripts{
        <script src="~/Scripts/CustomScripts/Ogrenci.js"></script>
    }

